/* 

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  margin: 0 auto;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

*/
@font-face {
  font-family: 'Uiyeun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  background: lightblue;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
li {
  list-style: none;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  margin: 1vh;
  color:palevioletred;
}
hr {
  color:palevioletred;
}
.add_todo {
  text-align: center;
}
input[type=text] {
  width: 270px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  outline: none;
  font-family: 'Uiyeun';
  font-size: 25px;
}
input[type=text], span {
  margin-right: 10px;
  margin-top: 10px;
}
button {
  width: 50px;
  height: 25px;
  background: lightskyblue;
  border-radius: 10px;
  border: none;
  margin: 3px;
  margin-top: 10px;
  font-family: 'Uiyeun';
  font-size: 20px;



} 
.list {
  margin: 0 5%;
  font-family: 'Uiyeun';
  font-size: 30px;
}